<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="KinCards lets you create free Virtual Business Cards">
        <meta name="keywords" content="Business Cards, Virtual Business Cards, Online Business Cards, Business Cards in cloud, KinCards, Kincards.com">
        <meta name="author" content="Prashant Yadav">
        <link rel="icon" href="@routes.Assets.at("images/favicon.ico")">

        <title>KinCards - Your virtual business card</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("stylesheets/gsdk-base.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("stylesheets/pe-icon-7-stroke.css")" rel="stylesheet" />
		<link href="@routes.Assets.at("stylesheets/ct-navbar.css")" rel="stylesheet" />  

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
		<style type="text/css">
        	@@media (max-width: 768px) {
        		.logo{
        			display: none;
        		}
        	}
        </style>
        <script src="//load.sumome.com/" data-sumo-site-id="fe35c4c0eb0cd8b58d1721392a8c2aa0b6f98e5ec0b25c99aad25b10073f8dcc" async="async"></script>
    </head>

    <body>
    	<div id="navbar-full">
		    <div id="navbar">
		        <nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top" role="navigation">
		          
		          <div class="container">
		            <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		              </button>
						<div class="logo"><a href="@routes.Application.index()">
							<img alt="logo" src="@routes.Assets.at("images/ic_launcher.png")">
							</a>
						</div>
		            </div>
		          </div><!-- /.container-fluid -->
		        </nav>
		    </div><!--  end navbar -->
		
		</div> <!-- end menu-dropdown -->
        <div class="image-container set-full-height" style="background-image: url('./assets/images/wizard.jpg')">

                <!--   Big container   -->
            <div class="container">
                <div class="row">
					<div class="wizard-container">
                           <div class="card wizard-card ct-wizard-orange" id="wizard">
                               <div class="wizard-header">
                                   <h3>
                                       <b>KinCards for Business</b><br>
                                   </h3>
                               </div>
                               <ul>
                                   <li><a href="#about" data-toggle="tab"></a></li>
                               </ul>
                               <div class="tab-content">
                                   <div class="tab-pane" id="about">
                                       <div class="row">
                                           <div class="col-sm-2"></div>
                                           
                                           <div class="col-sm-8">
                                           	<p>Welcome to KinCards. The KinCards app is the 21st century rolodex, created with the goal to eliminate the necessity to carry business cards. Change the way you exchange information across all platforms.</p>
                                           	<h2>How does KinCards for Business work?</h2>
                                           <p>KinCards for Business allow you to create KinCards for your employees. You could control the information that is published on your company KinCards. Easy setup, and adoption helps quickly bringing everyone aboard. !</p>
                                           
                                           <h2>Ease of Use</h2>
                                           <p>Create and maintain your connections in a safe, new way! Sending a virtual card is what we’re all used to, however, have you ever tried to send your info from an iPhone to say, an Android tablet? Various phones and OS receive and transmit information differently. With the KinCards app, you will never have an issue sharing information across various phones and devices because it shares contacts via phone number, text, email, the KinCards platform or direct download. KinCards stores all of your contacts on your phone and on Cloud, which allows you to have a seamless experience with various devices, including desktops, laptops and tablets.</p>
                                           <h4>The best part is: You will never loose any contacts with employees again!</h4>
                                           
                                           <p><h4>Interested?</h4></p>
                                           <p><a href="@routes.Application.contact()"><button class="btn btn-warning btn-fill">Contact Us</button></a> to get started today.</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="wizard-footer">
                                   <div class="clearfix"></div>
                               </div>
                           </div>
                       </div>
                </div><!-- end row -->
            </div> <!--  big container -->


            <footer class="footer footer-black">
	            <div class="container">
	                <nav class="pull-left">
	                    <ul>
	                        <li>
	                            <a href="http://www.kincards.com/dashboard">
	                                Home
	                            </a>
	                        </li>
							<li>
	                            <a href="@routes.Application.company()">
	                                Company
	                            </a>
	                        </li>
	                        <li>
	                            <a href="http://kincards.tumblr.com" target="_blank">
	                               Blog
	                            </a>
	                        </li>
	                        <li>
	                            <a href="@routes.Profile.feedback()">
	                               Feedback
	                            </a>
	                        </li>
	                    </ul>
	                </nav>
	                <div class="social-area pull-right"> 
	                	<a href="http://kincards.tumblr.com/" target="_blank">
	                        <i class="fa fa-tumblr"></i>
	                    </a>               
	                    <a href="https://www.facebook.com/pages/KinCards/1402887083373167" target="_blank">
	                        <i class="fa fa-facebook"></i>
	                    </a>
	                    <a href="https://twitter.com/KinCards" target="_blank">
	                        <i class="fa fa-twitter"></i>
	                    </a>
	                    <a href="https://www.linkedin.com/company/kincards" target="_blank">
	                        <i class="fa fa-linkedin"></i>
	                    </a>
	                    <a href="https://google.com/+KincardsForBusiness" target="_blank">
	                    	<i class="fa fa-google-plus"></i>
	                    </a>
	                </div>
	                <div class="copyright">
	                    &copy; 2015 KinCards
	                </div>
	            </div>
	        </footer>
        </div>

    </body>

    <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

        <!--   plugins 	 -->
    <script src="@routes.Assets.at("javascripts/jquery.bootstrap.wizard.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/wizard.js")"></script>
    <script src="@routes.Assets.at("javascripts/ct-navbar.js")"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-63690567-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
</html>