<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/assets/images/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="KinCards is your Virtual/digital contact Card app, created with the goal maintain connections eliminating the need to carry business cards.">
	<meta name="msvalidate.01" content="B8402883AB103793955D2939A0B3B41E" />
    <meta name="keywords" content="Business Cards, Virtual Business Cards, Online Business Cards, Business Cards in cloud, KinCards, Kincards.com, share contacts differently">
    <meta name="author" content="Prashant Yadav">
	<title>KinCards - Share contacts differently</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" />
	<link href="@routes.Assets.at("stylesheets/examples.css")" rel="stylesheet" /> 
	<link href="@routes.Assets.at("stylesheets/login-register.css")" rel="stylesheet" />
	<script src="@routes.Assets.at("javascripts/login-register.js")" type="text/javascript"></script> 
	<link href="@routes.Assets.at("stylesheets/gsdk.css")" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>  
    <link href="@routes.Assets.at("stylesheets/pe-icon-7-stroke.css")" rel="stylesheet" />
    
</head>

<body class="home">

<nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
	<div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul  class="nav navbar-nav navbar-right">
            <li><a href="@routes.Application.login()" class="btn btn-round btn-default">Login/Register</a></li>
<!-- 			<li><a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();" class="btn btn-round btn-default">Login/Register</a></li> -->
       </ul>
      
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="/assets/images/examples/about_5.jpg" alt="KinCards about5">
        </div>    
        <div class="small-info">
            <img alt="KinCards logo" src="@routes.Assets.at("images/Klogo.png")"></a><br/>
            <h3>Change the way you exchange information across all platforms.</h3>    
        </div>
    </div>
    
    <div class="section section-description">
           <div class="container">
               <h1 class="section-title">About KinCards</h1>

               <div class="row">
                    <div class="col-md-6">
                       <p>
	KinCards was created with one goal in mind: To eliminate the necessity to carry business cards with you. We often forget to carry our cards, or run out of them when we need them the most.</p>
<p>
How many times have you said, “I’m sorry, I don’t have my business cards with me.” or “I’m sorry, I ran out of my business cards.”
</p><p>
KinCards will allow you to share your contact details, as well as gain access to your other KinCards just by flipping through your stored cards.
</p>                    
                   </div>
                   <div class="col-md-6">
                        <div id="description-carousel" class="carousel fade" data-ride="carousel">                            
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                <div class="item active">
                                  <img src="/assets/images/examples/SS1.png" alt="KinCards screenshot 1">
                                </div>
                                <div class="item">
                                  <img src="/assets/images/examples/SS2.png" alt="KinCards screenshot 2">
                                </div>
                              </div>
                            
                              <ol class="carousel-indicators">
                                <li data-target="#description-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#description-carousel" data-slide-to="1"></li>
                              </ol>
                        </div>
                   </div>
                </div>
            
                <div class="space-50"></div>
                <hr>
                <div class="space-50"></div>
                <h1 class="section-title">What it does?</h1>
                <div class="row">
                   <div class="col-md-6">
                      <div class="img-container">
                          <img src="/assets/images/examples/SS3.png" alt="KinCards screenshot 3">
                      </div>
                   </div>
                   <div class="col-md-6">
                       <p>
                           KinCards lets you create and personalize your own virtual business card, and share your contact information immediately with your phone number or email. Connections can easily exchange, collect and store KinCards. The stored cards are saved to your KinCard app and easily accessed at any time. The app then acts as your own personal rolodex, complete with photo, phone numbers, social media sites, website, address and business information.</p>
                        <p>Your contact information is never shared publicly, and you’ll never loose anyone's contact information again.</p>
                    
                   </div>
               </div>
               <hr>
               <div class="space-50"></div>
               <h1 class="section-title">KinCards for Business</h1>
               <div class="row">
                    <div class="col-md-6">
                       <p>
	Want to get rid of Business Cards, and hassle managing the same? Adopt KinCards for Business. Create and maintain your connections in a safe, new way!</p>
<p>
KinCards stores all of your contacts on your phone and on Cloud, which allows you to have a seamless experience with various devices, including desktops, laptops and tablets.
</p><p>
The best part is: if you lose your phone or change your device, you won’t lose any of your contacts!
</p>                    
<p>
<a href="@routes.Application.business()"><button class="btn btn-warning btn-fill">Learn More</button></a>
</p>
                   </div>
                   <div class="col-md-6">
                        <div id="description-carousel" class="carousel fade" data-ride="carousel">                            
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                <div class="item active">
                                  <img src="/assets/images/examples/SS4.png" alt="KinCards screenshot">
                                </div>
                              </div>
                        </div>
                   </div>
                </div>
           </div>
    </div><!-- section -->
    <div class="space-50"></div>
    
    <div class="section section-features-1">
           <div class="container">
               <h2 class="section-title"> <small></small></h2>
               <div class="row">
                   <div class="col-md-4">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-like2"></i>
                            </div>
                            <div class="description">
                                <h5> Easy to Use </h5>
                                <p class="text-muted">Never have an issue sharing information again.</p>
                            </div>
                        </div>
                     </div>
                      <div class="col-md-4">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-scissors"></i>
                            </div>
                            <div class="description">
                                <h5> Get Rid of Business Cards </h5>
                                <p class="text-muted">Sending a virtual card is what we’re all used to.</p>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-science"></i>
                            </div>
                            <div class="description">
                                <h5> Unleash Creativity </h5>
                                <p class="text-muted">Create and maintain your connections in a safe, new way!</p>
                            </div>
                        </div>
                     </div>
               </div>
           </div>
    </div><!-- section -->
    
     <div class="social-line">
         <div class="container">
            <div class="row">
            	 <div class="col-md-1">
                     
                 </div>
                 <div class="col-md-2">
                     <a href="http://on.fb.me/1HcNS7e" target="_blank" class="btn btn-round btn-fill btn-social btn-facebook">
                         <i class="fa fa-facebook-square"></i> Facebook
                     </a>
                 </div>
                  <div class="col-md-2">
                     <a href="http://bit.ly/1RuWF43" target="_blank" class="btn btn-round btn-fill btn-social btn-twitter">
                         <i class="fa fa-twitter"></i> Twitter
                     </a>
                 </div>
                  <div class="col-md-2">
                     <a href="http://bit.ly/1Kbr3kN" target="_blank" class="btn btn-round btn-fill btn-social btn-tumblr">
                         <i class="fa fa-tumblr"></i> Tumblr
                     </a>
                 </div>
                 <div class="col-md-2">
                     <a href="http://google.com/+KincardsForBusiness" target="_blank" class="btn btn-round btn-fill btn-social btn-google">
                         <i class="fa fa-google-plus"></i> Google+
                     </a>
                 </div>
                 <div class="col-md-2">
                     <a href="https://www.linkedin.com/company/kincards" target="_blank" class="btn btn-round btn-fill btn-social btn-linkedin">
                         <i class="fa fa-linkedin"></i> Linkedin
                     </a>
                 </div>
                 <div class="col-md-1">
                     
                 </div>
<!--                  <div class="col-md-3"> -->
<!--                      <a href="" target="_blank" class="btn btn-round btn-fill btn-social btn-pinterest"> -->
<!--                          <i class="fa fa-pinterest"></i> Pinterest -->
<!--                      </a> -->
<!--                  </div> -->
            </div>
         </div>
         <div class="modal fade login" id="loginModal">
		      <div class="modal-dialog login animated">
    		      <div class="modal-content">
    		         <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Login with</h4>
                    </div>
<!--                     <div class="modal-body">   -->
<!--                         <div class="box"> -->
<!--                              <div class="content"> -->
<!--                                 <div class="social"> -->
<!--                                     <a class="circle github" href="/auth/github"> -->
<!--                                         <i class="fa fa-github fa-fw"></i> -->
<!--                                     </a> -->
<!--                                     <a id="google_login" class="circle google" href="/auth/google_oauth2"> -->
<!--                                         <i class="fa fa-google-plus fa-fw"></i> -->
<!--                                     </a> -->
<!--                                     <a id="facebook_login" class="circle facebook" href="/auth/facebook"> -->
<!--                                         <i class="fa fa-facebook fa-fw"></i> -->
<!--                                     </a> -->
<!--                                 </div> -->
<!--                                 <div class="division"> -->
<!--                                     <div class="line l"></div> -->
<!--                                       <span>or</span> -->
<!--                                     <div class="line r"></div> -->
<!--                                 </div> -->
<!--                                 <div class="error"></div> -->
<!--                                 <div class="form loginBox"> -->
<!--                                     <form method="post" action="/login" accept-charset="UTF-8"> -->
<!--                                     <input id="email" class="form-control" type="text" placeholder="Email" name="email"> -->
<!--                                     <input id="password" class="form-control" type="password" placeholder="Password" name="password"> -->
<!--                                     <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()"> -->
<!--                                     </form> -->
<!--                                 </div> -->
<!--                              </div> -->
<!--                         </div> -->
<!--                         <div class="box"> -->
<!--                             <div class="content registerBox" style="display:none;"> -->
<!--                              <div class="form"> -->
<!--                                 <form method="post" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8"> -->
<!--                                 <input id="email" class="form-control" type="text" placeholder="Email" name="email"> -->
<!--                                 <input id="password" class="form-control" type="password" placeholder="Password" name="password"> -->
<!--                                 <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation"> -->
<!--                                 <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit"> -->
<!--                                 </form> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Looking to 
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                             <span>Already have an account?</span>
                             <a href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>        
    		      </div>
		      </div>
		  </div>
     </div> 

    
    <footer class="footer footer-big">
        <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" >
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="@routes.Application.company()">
                                   About
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4">
                    <h5 class="title">Apps</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=in.kincards" >
                                    Android App
                                </a>
                            </li>
                            <li>
                                <a href="https://itunes.apple.com/us/app/kincards/id1010345215?mt=8">
                                   IOS App
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <div class="col-md-4">
                    <h5 class="title"> Help</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="@routes.Application.privacy()">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="@routes.Application.terms()">
                                    Terms of Use
                                </a>
                            </li>
                            <li>
                                <a href="@routes.Profile.feedback()">
                                   Contact Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                   
                </div>

            </div>
            <hr />
            <div class="copyright">
                &copy; 2015 KinCards
            </div>
        </div>
    </footer>   
    
    
</div> <!-- wrapper --> 
</body>
    <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom.min.js")" type="text/javascript"></script>

	<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
	
	<!--  Plugins -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	
	<!-- GSDK Pro functions -->
	<script src="@routes.Assets.at("javascripts/get-shit-done.js")"></script>
    
    <script type="text/javascript">
        var big_image;
        $().ready(function(){
            responsive = $(window).width();
            
            $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);
            
            if (responsive >= 768){
                big_image = $('.parallax-image').find('img');
                
                $(window).on('scroll',function(){           
                    parallax();
                });
            }
            
        });
        
        

       var parallax = function() {
            var current_scroll = $(this).scrollTop();
            
            oVal = ($(window).scrollTop() / 3); 
            big_image.css('top',oVal);
        };

    </script>
</html>