@(userList : List[User])(privacy: Boolean)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="KinCards lets you create free Virtual Business Cards">
        <meta name="keywords" content="Business Cards, Virtual Business Cards, Online Business Cards, Business Cards in cloud, KinCards, Kincards.com">
        <meta name="author" content="Prashant Yadav">
        <link rel="icon" href="@routes.Assets.at("images/favicon.ico")">

        <title>KinCards - Share contacts differently</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("stylesheets/gsdk-base.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("stylesheets/rotating-card.css")" rel='stylesheet' />
        <link href="@routes.Assets.at("stylesheets/pe-icon-7-stroke.css")" rel="stylesheet" />
		<link href="@routes.Assets.at("stylesheets/ct-navbar.css")" rel="stylesheet" /> 
		<link href="@routes.Assets.at("stylesheets/bootstrap-tour.min.css")" rel="stylesheet"> 

        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
        <style type="text/css">
        	@@media (max-width: 768px) {
        		.logo{
        			display: none;
        		}
        	}
        </style>
    </head>

    <body>
    @if(session.get("userName") != null && !session.get("userName").equals("")){
    	<div id="navbar-full">
	    <div id="navbar">
	       <!--    
	        navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange  
	        -->
	        <nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top" role="navigation">
	          
	          <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </button>
					<div class="logo"><a href="@routes.Application.index()">
						<img alt="logo" src="@routes.Assets.at("images/ic_launcher.png")">
						</a>
					</div>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	              <ul class="nav navbar-nav navbar-right">
	              		<li>
                          <a href="@routes.Dashboard.contacts()" data-placement="bottom" class="btn-tooltip" title="See all your contacts on your dashboard">
                              <i class="pe-7s-id">
                              </i>
                              <p>Dashboard</p>
                          </a>
                      </li>
                      <li>
                          <a href="@routes.Requests.addContact()" data-toggle="tooltip" data-placement="bottom" class="btn-tooltip" title="Find/add your contact's KinCards">
                              <i class="pe-7s-add-user">
                              </i>
                              <p id="addCont">Add Contact</p>
                          </a>
                      </li>                      
	                    <li>
	                        <a href="@routes.Requests.myRequests()" data-toggle="tooltip" data-placement="bottom" class="btn-tooltip" title="Accept/Reject your connection requests">
	                            <i class="pe-7s-mail">
	                            </i>
	                            <p id="my-req">Requests</p>
	                        </a>
	                    </li>
	                    <li class="dropdown">
	                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                                <i class="pe-7s-user"></i>
	                                <p>Account</p>
	                            </a>
	                          <ul class="dropdown-menu">
	                            <li><a href="@routes.Profile.editProfile()">Profile</a></li>
	                            <li><a href="@routes.Profile.getSettings()">Settings</a></li>
	                            <li><a href="@routes.Application.logout()">Sign Out</a></li>
	                          </ul>
	                    </li>
	               </ul>
				   <form action="@routes.Application.search()" method="post" class="navbar-form navbar-right navbar-search-form" role="search" action>                  
	                 <div class="form-group">
	                      <input type="text" value="" class="form-control" placeholder="Search Users..." name="search">
	                 </div> 
	              </form>
	              
	            </div><!-- /.navbar-collapse -->
	          </div><!-- /.container-fluid -->
	        </nav>
	    </div><!--  end navbar -->
	
	</div> <!-- end menu-dropdown -->
	}
        <div class="main" style="margin-top:10%;">

                <!--   Big container   -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" id="cont">
					@if(userList.size() > 0){
	                	@for(user <- userList){
	                	@if(!user.privacy.equals("on")){
                        <div class="col-md-4 col-sm-6">
                            <div class="card-container">
                                <div class="card card-user" id="cards">
                                    <div class="front">
                                        <div class="cover">
                                            <img src="@routes.Assets.at("images/rotating_card_thumb2.png")"/>
                                        </div>
                                        <div class="user">
                                            @if(user.photoId > 0){
                                                <img src="@routes.Application.getImage(user.photoId)" class="img-circle" id="wizardPicturePreview" title=""/>
                                            }else{
                                            	<img src="@routes.Assets.at("images/default-avatar.png")" class="img-circle" id="wizardPicturePreview" title=""/>
                                            }
                                        </div>
                                        <div class="content text-center">
                                            <div class="main">
                                                <h3 class="name">@user.fName @user.lName</h3>
                                                <p class="profession">@user.designation</p>
                                                @if(user.phone != ""){
                                                	<h5><i class="fa fa-mobile fa-fw text-muted"></i><a href="tel: @user.phone">@user.phone</a></h5>
                                                }@if(user.phone2 != ""){
                                                	<h5><i class="fa fa-mobile fa-fw text-muted"></i><a href="tel: @user.phone2">@user.phone2</a></h5>
                                                }@if(user.email != ""){
                                                	<h5><i class="fa fa-envelope-o fa-fw text-muted"></i> <a href="mailto: @user.email">@user.email</a></h5>
                                                }@if(user.website != ""){
                                                	<h5><i class="fa fa-globe fa-fw text-muted"></i><a href="@user.website">@user.website</a></h5>
                                                }
                                            </div>
                                            <div class="footer">

                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="header">
                                        	<div style="float:right; margin-left:2px;">
<!--                                         		<a href="" onclick="javascript: shareContact(@user.userName)" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-tooltip" title="Share" data-trigger="hover"><i class="fa fa-share-alt"></i></a> -->
<!-- 	                                        	<a href="" onclick="javascript: emailContact(@user.userName)" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-tooltip" title="Email" data-trigger="hover"><i class="fa fa-inbox"></i></a> -->
<!-- 	                                            <a href="" onclick="javascript: exportVCF(@user.userName)" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-tooltip" title="Export" data-trigger="hover"><i class="fa fa-download"></i></a> -->
	                                        </div>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                            @if(user.companyLogoId > 0){
                                                <img src="@routes.Application.getImage(user.companyLogoId)"  style="width: 60px; height: 60px; margin-left: 35%;" class="picture-src" id="wizardPicturePreview" title=""/>
                                            }else{
<!--                                             	<img src="@routes.Assets.at("images/company-logo.png")" style="width: 80px; height: 80px; margin-left: 32%;" class="picture-src" id="wizardPicturePreview" title=""/> -->
                                            }
                                                <h4 class="text-center" style="font-size: 16px; line-height:1em;">@user.companyName</h4>
                                                
                                                <p style="text-align: center; font-size: 14px;">@user.addressLn1 @user.addressLn2 @user.city @user.state @user.zip</p>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="social-links text-center">
                                                @if(user.facebook != ""){
                                                	<a href="@user.facebook" class="facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                                                }@if(user.linkedIn != ""){
                                                	<a href="@user.linkedIn" class="linkedin" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                                                }@if(user.twitter != ""){
                                                	<a href="@user.twitter" class="twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
                                                }
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                        </div> <!-- end col sm 3 -->
                        }
                        <div class="col-md-8 col-sm-6">
<!--                         	<h3>You are all set!</h3> -->
                        	<div class="area-line">
                        		<h4>Share your KinCard with others using following link:</h4>
			                    <pre>http://kincards.com/mycard/@session.get("userName")</pre>
			                    <form method="post" action="@routes.Requests.emailContact()">
			                    	<input type="text" id="email" name="email" class="form-control" placeholder="Email"/>
			                    	<button class="btn btn-warning" type="submit">Share by Email</button>
			                    </form>
		                    </div><br><br>
                        	<div class="area-line">
                        		<h4>Want to add KinCard to your website/blog?</h4>
			                    <a data-target="#buttonColor" href="javascript: void(0);" data-toggle="collapse" style="margin-left: 40%;">
			                          Get the code
			                    </a>
							    <div id="buttonColor" class="collapse">
								    <pre class="prettyprint"> &lt;iframe src=&quot;http://www.kincards.com/mycard/@session.get("userName")&quot;  width=&quot;350&quot; height=&quot;450&quot; scrolling=&quot;no&quot; frameborder="0"&gt;&lt;/iframe&gt;
								    </pre>
							    </div>            
		                    </div>
		                    <br><br>
		                    <form action="@routes.Profile.updatePublicSettings()" method="post" name="privacyForm">
			                    <label class="checkbox checkbox-orange" for="checkbox4">
							        <input type="checkbox" id="public" name="public" data-toggle="checkbox" @if(privacy){checked}>
							        Don't want your KinCard to be publicly available?
							    </label>
							    <input class='btn btn-fill btn-warning btn-wd btn-sm' type="submit" value="Update">
						    </form>
                        </div>
                        }
                       }else{
                       
                       		<h1><small class="subtitle">Sorry we are not able to generate your KinCard at this moment.</small></h1>
                       }
                       

                    </div> <!-- end col-sm-10 -->
                </div> <!-- end row -->
                
            </div>
            </div> <!--  big container -->
        </div>
    </body>


    <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

        <!--   plugins 	 -->
    <script src="@routes.Assets.at("javascripts/jquery.bootstrap.wizard.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/wizard.js")"></script>
    <script src="@routes.Assets.at("javascripts/ct-navbar.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-tour.min.js")"></script>

    <script type="text/javascript">
	
        $().ready(function(){
            $('.btn-tooltip').tooltip();
        });

        function rotateCard(btn){
            var $card = $(btn).closest('.card-container');
            if($card.hasClass('hover')){
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }
        function exportVCF(ph){
        	var action = "@routes.Dashboard.exportVCF("")"+ph;
        	$.post( action, function(data) {
        		window.open(data);
        		document.location = 'data:Application/octet-stream,' +
                encodeURIComponent(data);
            });
        }
        
        function shareContact(ph){
        	var email = prompt("Please enter the email or phone to share KinCard with:", "");
        	var action = "/share/"+ph+"/"+email;
        	$.post( action, function(data) {
        		console.log(data);
            });
        }
        
    </script>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-63690567-1', 'auto');
	  ga('send', 'pageview');
	
	</script>

</html>